h2 {

    color: greenyellow;

} 



ul {

    color: greenyellow  

} 

 

p {

  color: green

 } 



  a  { border: 2px solid; 

  color: lightseagreen     

 }

   
p {
        
color: blueviolet
   

     

  